services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: messenger
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGPORT: ${DB_PORT}
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -p ${DB_PORT} -d messenger"]
      interval: 5s
      timeout: 5s
      retries: 10
  app:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    command: ["/app/app"]
volumes:
  db_data:
